html{
    margin: 0;
    height: 100vh;
    font-family: "Spy Agency";
    letter-spacing: 0.5px;
    color: #E0E0E0D9;
}

body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
}


.alles{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#my-canvas{
    width: 100%;
    height: 100%; 
    position: fixed; 
    pointer-events: none;
    z-index: 5;
}

.kali{
    float: left;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.kare{
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 1px;
    border-color: #333;
    background-image: linear-gradient(to right,#001772, #00104B);
}

.map{
    width: auto;
    height: 85%;
    align-items: center;
    background-color: #000348;
    overflow: hidden;
    user-select: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.map:active{
    cursor: grab;
}

#karte{
    width: 100%;
    height: 100%;
    user-select: none;
    user-zoom: none;
    /* background: url(./../graphics/test_vector.svg); */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    background-color: #000348;
    /* transition: 100ms transform; */
}

#karte *{
    user-select: none;
}

#karte image{
    pointer-events: none;
}

#Punkte .red{
    filter: hue-rotate(0deg);
}

#Punkte .blue{
    filter: hue-rotate(235deg);
}

#Punkte .green{
    filter: hue-rotate(100deg) brightness(1.5);
}

#Punkte .yellow{
    filter: hue-rotate(64deg) brightness(2.5);
}

.figur_halb{ z-index: 10;}

#Punkte > *{
    cursor: pointer;
    transform-origin: 50% 50%;
    transform-box: fill-box;
    transition: 30ms transform;
}


#Punkte > *:hover, .pointselected, .pointamanfang{
    transform: scale(1.8);
}

.pointamanfang{
    transition: 2s transform;
}

.footer{
    height: 30%; /* 100-height von der map */
    display: flex;
    width: 100%;
    height: 15%;
    flex-direction: row;
    border-style: solid;
    border-width: 1px;
    border-color: #333;
    text-align: center;
    background-color: #455A64;
    color: black;
    justify-content: space-around;
}

.textfeld{
    width: 200px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-width: 1px;
    border-color: #333;
    color: #ffffffad;
    line-height: 23px;
}

.card{
    display: flex;
    height: auto;
    width: 15%;
	border-style: solid;
    border-width: 3px;
    border-color: #333;
	text-align: center;
    cursor: pointer;
    align-items: center;
    justify-content: center;
	margin-top: 10px;
	margin-bottom: 10px;
}

.card.selected{
    transform: scale(0.8);
    opacity: 0.8;
}

.card:hover{
    opacity: 0.6;
}



.cardlabel{
    margin-left: 50px;
    margin-right: 50px;
    font-size: 19px;
}

/* Für die Tabelle rechts (dann in JS addclass hernehmen) */
.radl{
    background-color: #EBD792; 
    color: black; 
    font-family: "Spy Agency"; 
}

.bus{
    background-color: #2DC1A7; 
    color: black; 
    font-family: "Spy Agency" ; 
}

.seilbahn{
    background-color: #E56487; 
    color: black !important; 
    font-family: "Spy Agency" ; 
}

.seilbahn span{
    color: black !important;
}

.boot{
    background-color: black; 
    color: white; 
    font-family: "Spy Agency" ; 
}


.roundstatus{
    width: 100%;
    height: 10%;
    font-size: 18px;
    display: flex;
    align-items: baseline;
}

#roundtag{
    transition: 1000ms color; /* Wenn eine neue Klasse hinzukommt (.refresh), dann wird die transition ausgeführt (color red) */
}

#roundtag.refresh{
    color: rgba(240,74,74,1);
}

#kastenumdieplayerlist{
    width: 90%;
    height: 35%;
    background: rgba(189, 189, 189, 0.2);
    margin-bottom: 5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

}

.table-cell .current{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ffffff;
    border-radius: 100%;
    width: 25px;
    height: 25px;
}

.playerlist{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.playerkasten{
    display: inline-flex;
    height: 35px;
    width: 90%;
	border-style: solid;
    border-width: 2px;
    border-color: rgb(173, 163, 163);
    cursor: pointer;
	align-items: center;
    background-color: rgba(189, 189, 189, 0.35);

    position: relative;
}

.playerkasten.self::before{
    content: "";
    width: 6px;
    height: 100%;
    background: #bbbfff;
    margin-right: 10px;
}


.playerkasten:hover{
    opacity: 0.6;
}

.player{
    margin-left: 10px;
    color: black;
}

.ticket_container{
    position: absolute;
    right: 16px;
}


.tab_anz_radl     { color: #EBD792; }
.tab_anz_bus      { color: #2DC1A7; }
.tab_anz_seilbahn { color: #E56487; }
.tab_anz_boot     { color: black;   }
.tab_anz_double     { color: rgb(241, 192, 56)   }

.self{
    font-style: initial;
    border-color: black;
    /* background-image: url("https://66.media.tumblr.com/8210fd413c5ce209678ef82d65731443/tumblr_mjphnqLpNy1s5jjtzo1_400.gif"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    
}

.mrx{
    border-color: red;
}

.table{
    width: 100%;
    height: 60%; /*100-height von roundstatus + playerlist */
    display: block;
}

.table-row{
    height: calc(100%/8);
    width: 100%;
    display: flex;
}

.table-cell{
    width: calc((100%/3) - 3px);
    height: calc(100%-1px);
    border: 1px solid #999999;
    padding: 3px 10px;
    text-align: left;
}

/* 'ab hier alte Tabelle:'  */

.divTable{
	display: table;
    width: 100%;
    cursor: pointer;
}
.divTableRow {
	display: table-row;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
}
.divTableCell, .divTableHead {
	border: 1px solid #999999;
	display: table-cell;
    padding: 3px 10px;
    text-align: left;
}
.divTableHeading {
	background-color: #EEE;
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
	display: table-row-group;
}


#snackbars{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    pointer-events: none;
    color: #ffffff;
    transition: 200ms background-color;
}

#snackbars.active{
    animation: 1s snackbar_blink;
}

#snackbars .snackbar{
    position: absolute;
    display: inline-block;
    margin: 32px;
    background: #272727;
    bottom: 0;
    left: 0;
    padding: 15px 20px;
    transform: translateY(80px) scale(0.98);
    opacity: 0.4;
    transition: 300ms transform, 300ms opacity;
}

#snackbars .snackbar.enter{
    transform: translateY(0px) scale(1);
    border-radius: 4px;
    opacity: 1;
}

#snackbars .snackbar.exit{
    transition: 100ms transform, 100ms opacity;
    transform: translateY(-20px) scale(0.97);
    opacity: 0;
}

@keyframes snackbar_blink{
    0%{
        box-shadow: inset 0px 0px 60px -6px rgba(240,74,74,0);
    }
    50%{
        box-shadow: inset 0px 0px 60px -6px rgba(240,74,74,1);
    }
    100%{
        box-shadow: inset 0px 0px 60px -6px rgba(240,74,74,0);
    }
}